<h1>New todo list item</h1>

<%= render "form", todo_list: @todo_list, todo_list_item: @todo_list_item %>

<br>

<div>
  <%= link_to "Back to todo list items", todo_list_todo_list_items_path(@todo_list) %>
</div>
